body {background-color: rgb(242, 172, 17); padding: 20px 90px; font-family: arial;}


.heading {display: flex; justify-content: space-between; align-items: center;}
.burger-pic {width: 70px; height: 70px; object-fit: cover;}
.middle-section ul {list-style: none; display: flex;}
.middle-section ul li, .login {padding: 5px 15px; background-color: rgb(87, 55, 45); color: white; 
    margin: 15px; border-radius: 12px;}
.right-section ul {list-style: none; display: flex; align-items: center;}
.contents {display: flex; align-items: center; justify-content: space-between;}
.burger-picture {height: 100%; width: 100%}
.details {width: 480px;}
@media (max-width: 720px) {.burger-picture {height: 250px; width: 250px; object-fit: cover;}
}
@media (max-width: 600px) {.details {font-size: 10px;}
body {padding: 20px 50px;}}

.wordings {margin-bottom: 80px; color: rgb(87, 55, 45);}
.button-div {display: flex; column-gap: 10px;}
.get-button {background-color: rgb(87, 55, 45); color: white; padding: 10px 20px; border: none;
    border-radius: 15px;}
.watch-button {color: rgb(87, 55, 45); border-color: rgb(87, 55, 45); padding: 10px 20px; 
    background-color: rgb(242, 172, 17); border-radius: 16px; border-width: 1px;}    

